#chart{
    width: 70vw;
    height: 80vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, serif;
    
}

body{
    margin: 2rem;
}

#flexme{
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}